/* font link  */

@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Poppins&family=Roboto&display=swap");

/* font family */
/* font-family: 'Arvo', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

nav {
  border-bottom: 2px solid #000;
}
